.card-button {
    width: 250px;
    height: 150px;
    border-radius: 12px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.3s;
}

.card-button:hover {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}